<div class="footer">
  <div class="top">
    <img src="assets/logo.png" alt="Logo">
    <ul class="footer-list">
      <a href="#" class="footer-link"><li class="footer-item">Quienes somos</li></a>
      <a href="#" class="footer-link"><li class="footer-item">Política de privacidad</li></a>
      <a href="#" class="footer-link"><li class="footer-item">Programa de fidelidad</li></a>
      <a href="#" class="footer-link"><li class="footer-item">Nuestras tiendas</li></a>
      <a href="#" class="footer-link"><li class="footer-item">Quiero ser franquicia</li></a>
      <a href="#" class="footer-link"><li class="footer-item">Anuncie aquí</li></a>
    </ul>
  </div>
  <div class="bottom">
    <form class="footer-form">
      <span class="footer-subtitle">Hable con nosotros</span>
      <span class="placeholder">Nombre</span>
      <input type="text" class="footer-input">
      <textarea class="footer-txtarea" placeholder="Escriba tu mensaje"></textarea>
      <button class="footer-btn">Enviar</button>
    </form>
  </div>
</div>
<div class="madeby">
  <span>Desarrollado por <a href="#" class="footer-github">FrancoBRB</a></span>
</div>
